#ContainerStory{
    width: 18cm;
    // height: 3cm;
    display: flex;
    justify-content: left;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 90px;

    overflow-x: scroll;
    // margin-bottom: 20px;
    // overflow: none;
    scrollbar-width: none;
    // border: 1px solid black;
    // margin-bottom: 40px;
    .C_Storys{
        // height: 4cm;
        // width: 4cm;
        .spanBackground{
            height: 1.5cm;
            width: 1.5cm;
            padding: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(red,orange,yellow);
            border-radius: 100%;


            img{
                height: 55px;
                border-radius: 100%;
            }
        }
        .spanName{

        }
    }
    
}