.ModalShare{
    width: 97.9%;
    height: 95.5%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: #5959597c;
    border: none;
    .ModalShare__div1{
        width: 15cm;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        border-radius: 20px;  
    }
}